@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

.bg-hero-bg {
  background-image: url("/images/bg-min.jpg");
  background-size: cover;
  background-position: center;
}

@media (min-resolution: 192dpi) {
  .bg-hero-bg {
    background-image: url("/images/bg-2x-min.jpg");
  }
}

.input {
  @apply bg-inputs rounded-md p-[18px] text-base text-gray transition-colors focus:text-main outline-none;
}
